# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
env/
.venv/
venv/

# Archivos de base de datos
*.sqlite3

# Archivos sensibles
.env

# Archivos de log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
